.smallCard {
    border: 2px solid #252525;
    background-color: #F6F6F6;
    border-radius: 4px;
    width: 88vw;
    padding: 10px 8px;
    box-shadow: 4px 4px 2px #f87f7f;
    margin-bottom: 10px;
    font-size: 18px;

    &__details {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        column-gap: 20px;

        &__button {
            all: unset;
            font-size: 50px;
            font-weight: 400;
            color: #ffff;
            border-radius: 4px;
            background-color: #E3072B;
            text-align: center;
            padding: 0 2px;
        }

        &__fields {
            display: grid;

            &__bold {
                font-weight: 400;
                margin-left: 8px;
            }
        }

        &__img {
            border-radius: 6px;
            max-width: 100%;
            justify-self: center;
            padding-top: 4px;
            margin-bottom: 4px;
        }
    }
}

.hiddenSection {
    border-top: 2px dashed #E3072B;
    padding-top: 8px;
    margin-top: 8px;
    display: grid;
}