.searchbar {
    // width: 90vw;

    &__form {
        width: 100%;
        border: 2px solid var(--metx-black);
        border-radius: 4px;
        display: grid;
        grid-template-columns: 4fr 1fr;
        background-color: var(--metx-black);

        // ::placeholder {
        //     color: var(--metx-mid-grey)
        // }

        &__input{
            all: unset;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--metx-light-grey);
            padding-right: 10px;

            &__text {
            all: unset;
            padding: 2px 10px;
            width: 100%;
            
        }

            &__cancel{
                display:none;
            
                &__active {
                    display: inline;
                    color: rgb(161, 161, 161);
                    font-size: 24px;
                    line-height:0%;
                }
            }
        }

        

        &__submit {
            all: unset;
            background-color: var(--metx-blue);
            color: var(--metx-light-grey);
            text-align: center;
        }

        
    }

    &__form:focus-within {
        border: 2px solid var(--metx-blue);
        background-color: var(--metx-blue);
    }

    & .inactive {
        background-color: rgb(161, 161, 161);
        // background-color: var(--metx-dark-grey);
    }
    
}