.searchFilters {
    border: 1px solid var(--metx-mid-grey);
    border-radius: 6px;
    margin-top: 10px;
    background-color: var(--metx-light-grey);
    padding: 0 10px;
    font-size: 18px;
    color: var(--metx-black);

    &__header {
        font-weight: 600;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text{
            width: 100%;
            text-align: left;
        }
        
        &__right{
            display: flex;
            &__reset {
                all: unset;
                color: var(--metx-blue);
                padding: 0 14px;
                font-weight: 400;
            }

            &__arrow {
                height: 30px;
            }

            &__arrowFlip {
                transform: rotate(180deg);
                height: 30px;
            } 
        }
        
    }

    &__filters {
        text-align: center;
        padding-top: 8px;
        border-top: 1px solid var(--metx-mid-grey);
        font-size: 18px;

        & div label{
            margin-right: 10px;
        }

        & div select {
            width: 100%;
            border: 1px solid var(--metx-mid-grey);
            border-radius: 6px;
            font-size: 18px;
            text-align: center;
            margin-bottom: 8px;
        }

        &__radio {
            margin-bottom: 8px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            color: var(--metx-mid-grey);
            border: 1px solid var(--metx-mid-grey);
            border-radius: 6px;

            & input {
                display: none;
            }

            &__selected {
                // border: 1px solid var(--metx-mid-grey);
                background-color: #ffff;
                border-radius: 6px;
                width: 100%;
                color: var(--metx-black);
            }
        }

        &__checkbox {
            display: grid;
            color: var(--metx-mid-grey);
            border: 1px solid var(--metx-mid-grey);
            border-radius: 6px;
            margin-bottom: 8px;

            & input {
                display: none;
            }

            &__checked {
                width: 100%;
                background-color: #ffff;
                border-radius: 6px;
                color: var(--metx-black);
            }

            &__unchecked {
                width: 100%;
            }
        }
    }
}