.navbar {
    background-color: #E4062B;
    color: #FFFFFF;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 20px;
}