.navbar {
    position: fixed;
    background-color: #E4062B;
    color: #FFFFFF;
    height: 6.4vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-shadow: 0 2px 5px #252525;

    &__img {
        position: absolute;
        left: 5vw;
        height: 65%;
    }

    &__open {
        position: absolute;
        height: 90vh;
        top: 7vh;
        display: flex;
        // animation-name: navbar_animation;
        // animation-duration: 0.5s;

        &__content {
            padding-top: 6%;
            color:#252525;
            width: 100vw;
            background-color: #FFFFFF;
            // background-color: #be4d4d;
            opacity: 1;
            padding-left: 10vw;
            font-size: 26px;
            line-height: 2.2;
            // gap: 10px;

            &__link {
                color: rgb(113, 113, 225);
                position: relative;
                animation-name: links_enter;
                animation-duration: 1.2s;
            }
            
            @keyframes links_enter {
            0%   {color: white; left: -300px}
            100% {left: 0}
            }
        }

        // &__cover {
        //     width: 20vw;
        //     background-color:#252525;
        //     height: 100vh;
        //     opacity: 0;
        // }
    }

    // &__open .show{
    //     animation-name: navbar_animation;
    //     animation-duration: 0.5s;
    // }

    // &__open .hide{
    //     animation-name: navbar_animation;
    //     animation-duration: 0.5s;
    //     animation-direction: reverse;
    // }

    // @keyframes navbar_animation {
    //     0%   {left: -600px}
    //     100% {left: 0}
    // }
}