.suggestedSearches {
    border-radius: 6px;
    background-color: var(--metx-light-grey);
    // background-image: linear-gradient(to bottom right, var(--metx-light-grey), var(--metx-blue));
    
    &__title {
        font-size: 18px;
        color: var(--metx-blue);
    }

    &__imgbox {
        height: 20vh;
        padding: 3px;
        &__img {
            height: 100%;
            border-radius: 6px;
        }
    }
}