.itemSearchResult{
    width: 100%;
    border-radius: 6px;
    padding: 2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;

    &__img{
        max-width: 100%;
        border-radius: 6px;
        display: block;
        margin: auto;
    }

    &__name{
        font-size: 18px;
        max-height: 98px;
        overflow: auto;
        padding: 1px 2px;
        font-weight: 600;
    }
    
}