.footer {
    background-color: var(--metx-light-grey);
    color: var(--metx-dark-grey);
    width: 100vw;
    // border: 2px solid green;
    position: fixed;
    bottom: 0;
    font-size: 16px;
    padding: 1px 2vw;
    display: flex;
    justify-content: space-between;
    height: 3vh;

    &__logo {
        height: 100%;
    }

    &__items {
        // text-align: right;
        &__count {
            font-weight: 600;
        }
    }
}