.footer {
    background-color: #F2F2F2;
    color: #252525;
    width: 100vw;
    position: fixed;
    bottom: 0;
    font-size: 16px;
    padding: 1px 3vw;
    display: flex;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    &__creator:hover {
        color: #E4062B;
    }

    &__items {
        text-align: right;
        &__count {
            font-weight: 600;
        }
    }
}