.searchresults {
   margin-top: 4px;
   text-align: center;
   font-size: 22px;

      &__noresults {
         &__icon {
            height: 100px;
            width: 100px;
         }
      }

      &__suggested {
         &__header {
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 10px;
         }
         &__layout{
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 1fr 1fr;
            align-items: center;
            gap: 2px;
         }
      }

      &__items {
         // font-size: 20px; 
         
         & span {
         font-weight: 600;
         margin-right: 4px;
         }
      }

      &__loading {
         color: var(--metx-red);
         display: flex;
         justify-content: center;
         margin-top: 20px;
         
         &__spinner{
            animation: spin 1s linear infinite;
            border: 6px solid var(--metx-light-grey);
            border-top: 6px solid var(--metx-red);
            border-radius: 50%;
            width: 50px;
            height: 50px;
         }

         &__logo{
            width: 100%;
            animation: counterSpin 1s linear infinite;
         }
      }

      &__top {
         background-color: var(--metx-blue);
         width: 60px;
         height: 60px;
         border-radius: 50%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position:fixed;
         bottom: 14px;
         right: 14px;
         opacity: 0.85;
         animation: pulseAnimation 2s infinite;

         &__icon {
            width: 75%;
            position: relative;
            top: 5px;
         }

         &__text {
            position: relative;
            top: -8px;
            color: var(--metx-light-grey);
            font-size: 18px;
         }
      }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

@keyframes counterSpin {
   0% { transform: rotate(360deg); }
   100% { transform: rotate(0deg); }
 }

 @keyframes pulseAnimation {
   0% {
     box-shadow: 0 0 0 0px rgba(113, 113, 225, 0.8);
   }
   100% {
     box-shadow: 0 0 0 15px rgba(113, 113, 225, 0);
   }
 }