.searchresults {
   margin-top: 4px;
   text-align: center;
   font-size: 22px;

      &__items {
         // font-size: 20px; 
         
         & span {
         font-weight: 600;
         margin-right: 4px;
         }
      }

      &__loading {
         color: var(--metx-red);
         display: flex;
         justify-content: center;
         margin-top: 20px;
         
         &__spinner{
            animation: spin 1s linear infinite;
            border: 6px solid var(--metx-light-grey);
            border-top: 6px solid var(--metx-red);
            border-radius: 50%;
            width: 50px;
            height: 50px;
         }

         &__logo{
            width: 100%;
            animation: counterSpin 1s linear infinite;
         }
      }

      &__top {
         background-color: var(--metx-mid-grey);
         width: 60px;
         height: 60px;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         position:fixed;
         bottom: 3px;
         right: 3px;
         color: var(--metx-red);
         border: 1px solid var(--metx-dark-grey);
         opacity: 0.9;

         &__icon {
            width: 90%;
         }
      }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

@keyframes counterSpin {
   0% { transform: rotate(360deg); }
   100% { transform: rotate(0deg); }
 }